@mixin flex-container ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font-Arial () {
    font-family: Arial, Helvetica, sans-serif;
}

@mixin font-Franklin () {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

