$color-eucalyptus: #658f7e;
$color-charcoal: #1f504f;
$color-darkgreen: #0f211c;
$color-azure: #dae6e3;
$color-mattebalck: #141C2F;

$small: 576px;
$medium: 768px;
$large: 992px;
$xl: 1200px;
$xxl: 1400px;