* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-azure;
}

.header {
    display: flex;
    justify-content:  center;
    background-color: #141C2F;
    flex-wrap: wrap;
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 15px 0px 15px 0px;

    h1 {
        color: white;
        display: flex;
        display: row;
        justify-content: center;
        align-items: center;
    }

    .logo-image {
        height: 100px;
        width: 100px;
        margin: 25px;
    }
}

.dropdown {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f504fd2;
    margin: 5px;
    padding: 25px;
    box-shadow: 0 5px 15px #00000091;
    border-radius: 10px;   

    .line {
        display: flex;
        border-top: 2px solid white;
        margin: 10px;
        min-width: 250px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        top: 100%;
        margin-top: 5px;
    }
}

.dropdown:hover .dropdown-content {
    @include flex-container(column, flex-start, center)
}

.a-startpage {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    color: $color-azure;
    text-align: center;
    border-bottom: 1px solid #0000001d;
    border-radius: 5px;
    background-color: $color-charcoal;
    width: 98vw;
    padding: 35px 0px 35px 0px;

        &:hover {
            background-color: #307978;
            color: black;
        }

        &.active {
            background-color: #75dcd9;
            color: black; 
            font-weight: bolder;
        }
}

a {
    text-decoration: none;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.hero-section {
    background-color: $color-azure;
    height: 100vh;
}

.CTA {
    min-height: 45vh;
    padding: 15px;

    .cta-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
        box-shadow: 10px 10px .2px $color-darkgreen;
        border-radius: 50px;
        padding: 50px;

        .cta-text {
            flex-basis: 150px;

            h2 {
                color: $color-azure;
                font-family: 'Roboto', Helvetica, sans-serif;
                letter-spacing: 2px;
                // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }

            p {
                color: $color-azure;
                font-family: 'Roboto', Helvetica, sans-serif;
                letter-spacing: 2px;
                line-height: 1.5;
                word-spacing: 2px;
                text-shadow: 5px 5px 5px black;
            }
        }

        .cta-buttons {
            @include flex-container(row, space-evenly, center);
            flex-wrap: wrap;
            flex-basis: 100px;
            gap: 10px;
            margin-top: 25px;

            .contact-btn {
                @include flex-container(row, flex-start, center);
                border-radius: 50px;
                padding: 20px 30px;
                color: $color-azure;
                min-width: 158px;
                background-color: #0f211c;

                &:hover {
                    background-color: #2d5f51;
                }
            }

            .produkt-btn {
                @include flex-container(row, flex-start, center);
                border-radius: 50px;
                padding: 20px 30px;
                color: $color-azure;
                min-width: 158px;
                background-color: #0f211c;

                &:hover {
                    background-color: #2d5f51;
                }
            }
        }
    }
}

// .a-circle {
//     back
// }