.site-header {
    background-color: white;
    display: flex;
    justify-content:center;
    padding: 50px;
    margin-top: 1vh;
    margin-bottom: 1vh;

    h2 {
        color: $color-darkgreen;
        font-family: 'Roboto';
    }
}

.product-description {
    display: flex;
    justify-content: center;
    margin: 1vh;

    p {
        color: $color-darkgreen;
        text-align: center;
    }
}


.collapsible > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.collapsible .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.collapsible > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.collapsible label {
  display: block;
}

/*
 Styling Collapsible
*/
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.collapsible {
  margin-bottom: 1em;
}

.collapsible > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
}

.collapsible .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.collapsible label {
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #e8e8e8;
}

.collapsible label:hover,
.collapsible label:focus {
  background: #d8d8d8;
}

.collapsible .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.collapsible > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}